h2,p{
    color: white;
    margin-bottom: 5px;
}

.text{
    width: 500px;
}
.about-me{
    width:5000px;
    text-align: justify;
    padding-top: 100px;
    margin-left: 50px;
    display: flex;
}
.person{
    width:500px;
    margin-left: 700px;
 
}