.footer{
    background-color:rgb(23, 21, 21);
    width:100%;
    min-height: 150px;
    bottom: 0;
    position: absolute;
}



.social-media img, .tecnology-stacks img{
    padding: 10px;
    filter: grayscale(100%);
}

.image-div{
  float:left; 
}

.footer img:hover{
    transform: rotate(10deg);
    transition: transform .3s ease-in-out;
    width: 100px;
    height: 100px;
    cursor: pointer;
    animation: toColor 2s forwards;
}

@keyframes toColor {
    from {
      filter: grayscale(100%); /* Start with a black and white image */
    }
    to {
      filter: grayscale(0%); /* Transition to a fully colored image */
    }
  }