.footer{
    background-color:rgb(23, 21, 21);
    position: absolute;
    bottom: 0;
    width:100%;
    min-height: 300px;
}


.social-media img{
    margin-right:10px;
    filter: grayscale(100%);
}
.tecnology-stacks img{
    margin-right:10px;
    filter: grayscale(100%);
}


.footer img:hover{
    transform: rotate(10deg);
    transition: transform .3s ease-in-out;
    width: 100px;
    height: 100px;
    cursor: pointer;
    animation: toColor 2s forwards;
}

@keyframes toColor {
    from {
      filter: grayscale(100%); /* Start with a black and white image */
    }
    to {
      filter: grayscale(0%); /* Transition to a fully colored image */
    }
  }