.footer{
    background-color:rgb(23, 21, 21);
    vertical-align: top ;

}
.icon-container{
    display: flex;
    justify-content: center;
}
footer h3{
    color: white;
    margin-bottom: 50px;
    
}

.icon{
    height: 150px;
    width: 150px;
    margin-right: 10px; 
}

.social-media{
    text-align: center;
    
    
}

.social-media img{
    margin-right:10px;
}

.footer img:hover{
    transform: rotate(56deg);
    transition: transform .3s ease-in-out;
    width: 150px;
    height: 150px;
    cursor: pointer;
}